/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gantari', sans-serif;
}

/* UTILITIES */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Clearfix per uso del float, da applicare al container */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/* MISCELLANOUS */

/* Intestazione, contenitore del titolo */
header {
    margin: 30px;
}

/* Titolo */
h1 {
    color: #e53170;
    text-align: center;
}

/* Unica parte solamente testo */
main>p {
    text-align: center;
}

/* Contenitore del contenuto della pagina */
main {
    margin: 10px 15%;
}

/* Insieme delle carte */
.cards-container {
    margin: 30px auto;
    color: white;
}

/* Carte singole */
.card {
    background-color: #0f0e17;
    margin: 25px 10px;
    width: calc(100% / 3.19);
    height: 100px;
    box-shadow: 0px 0px 10px 3px grey;
    float: left;
}

/* Grandezza immagini delle cards */
.card>img {
    float: left;
    width: 120px;
}

/* Formato del collegamento alle e-mail */
.card a {
    color: #2eb5e8;
    text-decoration: none;
}

/* Formato del collegamento quando ci passi sopra con il mouse */
.card a:hover {
    text-decoration: underline;
}

/* Formato contenuto card */
}