/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gantari', sans-serif;
}

/* UTILITIES */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Clearfix per uso del float, da applicare al container */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/* MISCELLANOUS */

/* Intestazione, contenitore del titolo */
header {
    margin: 30px;
}

/* Titolo */
h1 {
    color: #e53170;
    text-align: center;
}

/* Unica parte solamente testo */
main>p {
    text-align: center;
}

/* Contenitore del contenuto della pagina */
main {
    margin: 10px 15%;
}

/* Insieme delle carte */
.cards-container {
    margin: 0 auto;
    color: white;
}

/* Carte singole */
.card {
    background-color: #0f0e17;
    margin: 10px 10px;
    width: calc(100% / 3.19);
    height: 100px;
    box-shadow: 0px 0px 10px 3px grey;
}

/* Grandezza immagini delle cards */
.card>img {
    height: 100px;
    width: 100px;
}

/* Interlinea del testo nelle cards */
.card>p,
h3 {
    padding: 5px;
    padding-left: 110px;
}

/* Colore dell'e-mail */
p:last-child {
    color: #2eb5e8;
}