/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grandezza di tutte le immagini massimo quanto il loro rispettivo contenitore */
img {
    width: 100%;
}

/* UTILITIES */


/* Clearfix per uso del float, da applicare al container */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}